.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding: 20px;
    border: 2px;
    box-shadow: 4px 4px 10px chocolate;
}

.label{
    display: flex;
    flex-direction:column;
    gap: 10px;
    justify-content: center;
    align-items: left; 
}